name: Ping Streamlit App

on:
  schedule:
    - cron: '0*/12 * * *'

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Streamlit App
        run: |
          curl -s https://kidchat.streamlit.app/ > /dev/null